.atc-button {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.3s, transform 0.2s;
    position: relative;
    height: 30px;
    width: 62px;
    justify-content: center;
}

.atc-button .text {
    font-size: 16px;
}

.atc-button:hover {
    background: #0056b3;
}

.atc-button:active {
    transform: scale(0.95);
}

.atc-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.atc-button:hover::before {
    opacity: 1;
}
